<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <!-- Material -->
    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- shoelace -->
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.14/dist/shoelace/shoelace.css">
    <script type="module"
        src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.14/dist/shoelace/shoelace.esm.js"></script>


    <script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js" defer></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="/javascript/script.js" defer></script>
    <link href="/css/room.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/duo.svg" />
    <title>Chatboard</title>
</head>

<body>
    <div class='main_room'>
        <video class='video_local'></video>
        <video class='video_guest'></video>

        <footer class="fixed-bottom text-center">
            <sl-button type="default" size="large" onclick="cameraOnOff()" pill>
                <sl-icon name="camera-video" id='videocam'></sl-icon>
            </sl-button>
            <sl-button type="danger" size="large" id="call_end_btn" onclick="exitRoom()" pill>
                <sl-icon name="telephone" id='call_end'></sl-icon>
            </sl-button>
            <sl-button type="default" size="large" onclick="micOnOff()" pill>
                <sl-icon name="mic" id='mic'></sl-icon>
            </sl-button>
        </footer>
    </div>
</body>

</html>