.main_room {
    height: 100vh;
    display: flex;
    background-color: #000;
    z-index: 0;
}

.video_guest{
    display: block; 
    object-fit: cover;  /* no letterboxing */
    position: absolute;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index: 1;
} 

.video_guest.deactive{
    opacity: 0;
    z-index: 1; 
}

.video_local{
    display: block; 
    object-fit: cover;  
    position: absolute;
    transition: opacity 1s;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
} 

/* Switch video from full screen to mini-video */
.video_local.mini_video { 
    border: 1px solid gray;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 #bdbdbd;
    max-height: 30%;
    max-width: 30%;
    position: absolute;
    transition: opacity 2s;
    opacity: 0;  /* hide the mini-video when not active */
}

/* Activate fullscreen video/mini-video */
.video_local.active, .video_local.mini_video.active{
    opacity: 1;
    z-index: 2;
}

video{
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}


sl-button {
    padding: 1%;
    z-index: 3;
}

#call_end {
    color: red;
    
}

#videocam {
    color: blue;
}

#mic{
    color: black;
}
